p-card{
    width: 20%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
input{
  margin: 10px;
}
img{
	filter: invert(100%);  
}

.tags{
  font-size: 12px;
}