<p-toolbar>
    <div class="ui-toolbar-group-left">
      <p-button icon="pi pi-home" label="Home" routerLink="/app-home" routerLinkActive="ui-button-success"></p-button>
      <p-button icon="pi pi-star-o" label="Trending" routerLink="/app-api" routerLinkActive="ui-button-success"></p-button>
      <p-button icon="pi pi-search" label="Search" routerLink="/app-search" routerLinkActive="ui-button-success"></p-button>
      <p-button icon="pi pi-search" label="Search by ID" routerLink="/app-search-id" routerLinkActive="ui-button-success"></p-button>
      <p-button icon="pi pi-star" label="My Favourites" routerLink="/app-favourites" routerLinkActive="ui-button-success"></p-button>
    </div>
      <div class="ui-toolbar-group-right">
      <p-button icon="pi pi-search" label="Login" routerLink="/app-login" routerLinkActive="ui-button-success"></p-button>
    </div>
</p-toolbar>